.header_menu_show {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  flex-basis: 100%;
  order: -1;
  border-bottom: 1px solid var(--header-border-color);
  padding: 40px 0 40px;
}
