.header__container {
  width: 100%;
  font-size: 18px;
  line-height: 1.22;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 480px) {
  .header__container {
    padding: 27px 30px 32px;
  }
}
