.main-form__save-button {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  border: none;
  background-color: var(--card-background-color);
  margin-top: 176px;
  padding: 14px 0;
  cursor: pointer;
  transition: all .6s;
}

.main-form__save-button:hover {
  opacity: .85;
}

@media screen and (max-width: 400px) {
  .main-form__save-button {
    font-size: 16px;
    margin-top: 133px;
    padding: 12px 0;
  }
}
